#include <zephyr/dt-bindings/pinctrl/esp32s3-pinctrl.h>

/ {
    aliases {
        batt-sense = &zephyr_user;
    };

    zephyr_user: zephyr_user {
        compatible = "zephyr,user";
        io-channels = <&adc1 3>;
    };
};

&pinctrl {
    i2c0_mpu6050: i2c0_mpu6050 {
        group1 {
            pinmux = <I2C0_SDA_GPIO8>,
                     <I2C0_SCL_GPIO7>;

            bias-pull-up;
            drive-open-drain;
            output-high;
        };
    };
};

&i2c0 {
    status = "okay";
    clock-frequency = <I2C_BITRATE_STANDARD>;

    pinctrl-0 = <&i2c0_mpu6050>;
    pinctrl-names = "default";

    mpu6050: mpu6050@68 {
        compatible = "invensense,mpu6050";
        reg = <0x68>;
        status = "okay";

        accel-fs = <2>;
        gyro-fs = <250>;
    };
};

&adc1 {
    status = "okay";
    #address-cells = <1>;
    #size-cells = <0>;

    channel@3 {
        reg = <3>;
        zephyr,gain = "ADC_GAIN_1";
        zephyr,reference = "ADC_REF_INTERNAL";
        zephyr,acquisition-time = <ADC_ACQ_TIME_DEFAULT>;
        zephyr,resolution = <12>;
    };
};